---
http_interactions:
- request:
    method: get
    uri: MAP_QUEST_URL/geocoding/v1/address?key=MAP_QUEST_KEY&location=denver,co
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Geocodetransactioncount:
      - '1'
      Last-Modified:
      - Thu, 01 Oct 2020 01:20:26 GMT
      Reversegeocodetransactioncount:
      - '0'
      Status:
      - success
      Transactionweight:
      - '1.0'
    body:
      encoding: UTF-8
      string: '{"info":{"statuscode":0,"copyright":{"text":"\u00A9 2020 MapQuest,
        Inc.","imageUrl":"http://api.mqcdn.com/res/mqlogo.gif","imageAltText":"\u00A9
        2020 MapQuest, Inc."},"messages":[]},"options":{"maxResults":-1,"thumbMaps":true,"ignoreLatLngInput":false},"results":[{"providedLocation":{"location":"denver,co"},"locations":[{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"Denver","adminArea5Type":"City","adminArea4":"Denver
        County","adminArea4Type":"County","adminArea3":"CO","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A5XAX","geocodeQuality":"CITY","dragPoint":false,"sideOfStreet":"N","linkId":"282041090","unknownInput":"","type":"s","latLng":{"lat":39.738453,"lng":-104.984853},"displayLatLng":{"lat":39.738453,"lng":-104.984853},"mapUrl":"MAP_QUEST_URL/staticmap/v5/map?key=MAP_QUEST_KEY&type=map&size=225,160&locations=39.738453,-104.984853|marker-sm-50318A-1&scalebar=true&zoom=12&rand=388079743"},{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"","adminArea5Type":"City","adminArea4":"Denver
        County","adminArea4Type":"County","adminArea3":"CO","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A4XAX","geocodeQuality":"COUNTY","dragPoint":false,"sideOfStreet":"N","linkId":"282932003","unknownInput":"","type":"s","latLng":{"lat":39.738453,"lng":-104.984853},"displayLatLng":{"lat":39.738453,"lng":-104.984853},"mapUrl":"MAP_QUEST_URL/staticmap/v5/map?key=MAP_QUEST_KEY&type=map&size=225,160&locations=39.738453,-104.984853|marker-sm-50318A-2&scalebar=true&zoom=9&rand=1976366211"}]}]}'
  recorded_at: Thu, 01 Oct 2020 01:20:26 GMT
- request:
    method: get
    uri: OPEN_WEATHER_URL/data/2.5/onecall?appid=OPEN_WEATHER_KEY&exclude=minutely&lat=39.738453&lon=-104.984853&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":39.74,"lon":-104.98,"timezone":"America/Denver","timezone_offset":-21600,"current":{"dt":1601515227,"sunrise":1601470535,"sunset":1601513020,"temp":63.52,"feels_like":54.32,"pressure":1020,"humidity":34,"dew_point":34.68,"uvi":6.14,"clouds":0,"visibility":10000,"wind_speed":10.69,"wind_deg":76,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01n"}]},"hourly":[{"dt":1601514000,"temp":63.52,"feels_like":54.32,"pressure":1020,"humidity":34,"dew_point":34.68,"clouds":0,"visibility":10000,"wind_speed":10.69,"wind_deg":76,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01n"}],"pop":0},{"dt":1601517600,"temp":64.72,"feels_like":56.01,"pressure":1022,"humidity":32,"dew_point":34.21,"clouds":0,"visibility":10000,"wind_speed":9.71,"wind_deg":80,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01n"}],"pop":0},{"dt":1601521200,"temp":63.68,"feels_like":56.01,"pressure":1025,"humidity":33,"dew_point":34.07,"clouds":0,"visibility":10000,"wind_speed":7.81,"wind_deg":63,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01n"}],[...]
- request:
    method: get
    uri: PIXABAY_URL/api/?image_type=photo&key=PIXABAY_KEY&q=Denver&safesearch=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Remaining:
      - '4998'
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Reset:
      - '0.7199558502532263'
      Allow:
      - OPTIONS, POST, GET
      Content-Language:
      - en
    body:
      encoding: ASCII-8BIT
      string: '{"total":79,"totalHits":79,"hits":[{"id":5354477,"pageURL":"PIXABAY_URL/photos/city-cinema-vintage-valencia-5354477/","type":"photo","tags":"city,
        cinema, vintage","previewURL":"https://cdn.pixabay.com/photo/2020/06/29/21/13/city-5354477_150.jpg","previewWidth":100,"previewHeight":150,"webformatURL":"PIXABAY_URL/get/53e3d0474e55ab14f1dc846096293f7d1d3ad9e4514c704f752e7ed5924fc75f_640.jpg","webformatWidth":427,"webformatHeight":640,"largeImageURL":"PIXABAY_URL/get/53e3d0474e55ab14f6da8c7dda7936761637dbe252536c48732f7ad19648c75abf_1280.jpg","imageWidth":3297,"imageHeight":4946,"imageSize":4626920,"views":5781,"downloads":4644,"favorites":17,"likes":15,"comments":5,"user_id":17265152,"user":"AveCalvar","userImageURL":"https://cdn.pixabay.com/user/2020/06/29/21-10-30-636_250x250.jpg"},{"id":2617524,"pageURL":"PIXABAY_URL/photos/larimer-lodo-denver-colorado-2617524/","type":"photo","tags":"larimer,
        lodo, denver","previewURL":"https://cdn.pixabay.com/photo/2017/08/10/03/04/larimer-2617524_150.jpg","previewWidth":150,"previewHeight":99,"webformatURL":"PIXABAY_URL/get/54e6d4444f50a814f1dc846096293f7d1d3ad9e4514c704f752e7ed5924fc75f_640.jpg","webformatWidth":640,"webformatHeight":426,"largeImageURL":"PIXAB[...]
