---
http_interactions:
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=1d737a245df25d2e31d58974223582ed&exclude=minutely&lat=40.015831&lon=-105.27927&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":40.02,"lon":-105.28,"timezone":"America/Denver","timezone_offset":-21600,"current":{"dt":1600815926,"sunrise":1600778954,"sunset":1600822684,"temp":80.85,"feels_like":74.62,"pressure":1019,"humidity":17,"dew_point":32.02,"uvi":6.6,"clouds":1,"visibility":10000,"wind_speed":4.7,"wind_deg":340,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01d"}]},"hourly":[{"dt":1600815600,"temp":80.85,"feels_like":73.4,"pressure":1019,"humidity":17,"dew_point":32.02,"clouds":1,"visibility":10000,"wind_speed":6.87,"wind_deg":205,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01d"}],"pop":0.05},{"dt":1600819200,"temp":76.73,"feels_like":65.57,"pressure":1018,"humidity":22,"dew_point":35.06,"clouds":35,"visibility":10000,"wind_speed":14.29,"wind_deg":249,"weather":[{"id":802,"main":"Clouds","description":"scattered
        clouds","icon":"03d"}],"pop":0.17},{"dt":1600822800,"temp":70.65,"feels_like":67.68,"pressure":1017,"humidity":31,"dew_point":38.57,"clouds":79,"visibility":10000,"wind_speed":0.83,"wind_deg":253,"weather":[{"id":803,"main":"Clouds","description":"broken
        clouds","icon":"04n"}],"pop":0.5},{"dt":1600826400,"temp":66.04,"feels_like":61.61,"pressure":1018,"humidity":42,"dew_point":42.31,"clouds":94,"visibility":10000,"wind_speed":4.72,"wind_deg":112,"weather":[{"id":500,"main":"Rain","description":"light
        rain","icon":"10n"}],"pop":0.46,"rain":{"1h":0.18}},{"dt":1600830000,"temp":60.58,"feels_like":57.52,"pressure":1019,"humidity":51,"dew_point":42.39,"clouds":97,"visibility":10000,"wind_speed":2.33,"wind_deg":171,"weather":[{"id":500,"main":"Rain","description":"light
        rain","icon":"10n"}],"pop":0.62,"rain":{"1h":0.21}},{"dt":1600833600,"temp":60.19,"feels_like":55.81,"pressure":1019,"humidity":52,"dew_point":42.85,"clouds":97,"visibility":10000,"wind_speed":4.72,"wind_deg":232,"weather":[{"id":500,"main":"Rain","description":[...]
