---
http_interactions:
- request:
    method: get
    uri: PIXABAY_URL/api/?image_type=photo&key=PIXABAY_KEY&q=gainesville&safesearch=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Remaining:
      - '4971'
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Reset:
      - '0.0009385830245474511'
      Allow:
      - OPTIONS, GET, POST
      Content-Language:
      - en
    body:
      encoding: UTF-8
      string: '{"total":0,"totalHits":0,"hits":[]}'
  recorded_at: Wed, 23 Sep 2020 00:32:35 GMT
- request:
    method: get
    uri: PIXABAY_URL/api/?image_type=photo&key=PIXABAY_KEY&q=sunny&safesearch=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Remaining:
      - '4970'
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Reset:
      - '0.0008870618152944549'
      Allow:
      - OPTIONS, POST, GET
      Content-Language:
      - en
    body:
      encoding: ASCII-8BIT
      string: '{"total":10934,"totalHits":500,"hits":[{"id":203875,"pageURL":"PIXABAY_URL/photos/dolphin-marine-mammals-water-sea-203875/","type":"photo","tags":"dolphin,
        marine mammals, water","previewURL":"https://cdn.pixabay.com/photo/2013/11/01/11/13/dolphin-203875_150.jpg","previewWidth":150,"previewHeight":99,"webformatURL":"PIXABAY_URL/get/54e0d64b4d57b10ff3d8992cc62034761038dfe74e507749752779d59648c0_640.jpg","webformatWidth":640,"webformatHeight":426,"largeImageURL":"PIXABAY_URL/get/54e0d64b4d57b108f5d0846096293f7d1d3ad9e4514c704f752f73d6964cc05d_1280.jpg","imageWidth":2352,"imageHeight":1568,"imageSize":343025,"views":354672,"downloads":127052,"favorites":1127,"likes":1308,"comments":185,"user_id":80737,"user":"Claudia14","userImageURL":""},{"id":438432,"pageURL":"PIXABAY_URL/photos/forest-path-mystical-rocks-438432/","type":"photo","tags":"forest,
        path, mystical","previewURL":"https://cdn.pixabay.com/photo/2014/09/07/22/17/forest-438432_150.jpg","previewWidth":150,"previewHeight":99,"webformatURL":"PIXABAY_URL/get/52e3dd474950b10ff3d8992cc62034761038dfe74e507749752779d59648c0_640.jpg","webformatWidth":640,"webformatHeight":426,"largeImageURL":"PIXABAY_URL/get/52e3dd474950b108f5d0846096293f7d1d3ad9e4514c704f752f73d6964c[...]
