---
http_interactions:
- request:
    method: get
    uri: PIXABAY_URL/api/?image_type=photo&key=PIXABAY_KEY&q=gainesville&safesearch=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Remaining:
      - '4995'
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Reset:
      - '0.718317605191178'
      Allow:
      - POST, GET, OPTIONS
      Content-Language:
      - en
    body:
      encoding: UTF-8
      string: '{"total":0,"totalHits":0,"hits":[]}'
  recorded_at: Thu, 01 Oct 2020 01:20:37 GMT
- request:
    method: get
    uri: PIXABAY_URL/api/?image_type=photo&key=PIXABAY_KEY&q=sunny&safesearch=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Remaining:
      - '4994'
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Reset:
      - '0.7184286154306926'
      Allow:
      - POST, GET, OPTIONS
      Content-Language:
      - en
    body:
      encoding: ASCII-8BIT
      string: '{"total":10938,"totalHits":500,"hits":[{"id":203875,"pageURL":"PIXABAY_URL/photos/dolphin-marine-mammals-water-sea-203875/","type":"photo","tags":"dolphin,
        marine mammals, water","previewURL":"https://cdn.pixabay.com/photo/2013/11/01/11/13/dolphin-203875_150.jpg","previewWidth":150,"previewHeight":99,"webformatURL":"PIXABAY_URL/get/54e0d64b4d57b10ff3d8992cc62034761038dfe74e507749742a7ad1954ec2_640.jpg","webformatWidth":640,"webformatHeight":426,"largeImageURL":"PIXABAY_URL/get/54e0d64b4d57b108f5d0846096293f7d1d3ad9e4514c704f752e7ed5924fc65f_1280.jpg","imageWidth":2352,"imageHeight":1568,"imageSize":343025,"views":357661,"downloads":128576,"favorites":1135,"likes":1314,"comments":187,"user_id":80737,"user":"Claudia14","userImageURL":""},{"id":868715,"pageURL":"PIXABAY_URL/photos/forest-path-trees-alley-outdoors-868715/","type":"photo","tags":"forest,
        path, trees","previewURL":"https://cdn.pixabay.com/photo/2015/07/31/06/50/forest-868715_150.jpg","previewWidth":150,"previewHeight":99,"webformatURL":"PIXABAY_URL/get/5ee6dd444b57b10ff3d8992cc62034761038dfe74e507749742a7ad1954ec2_640.jpg","webformatWidth":640,"webformatHeight":426,"largeImageURL":"PIXABAY_URL/get/5ee6dd444b57b108f5d0846096293f7d1d3ad9e4514c704f752e7ed59[...]
